.container {
    height: 100vh;
    .sidenav {
        width: 200px;
        background-color: #3F51B5;
        position: absolute;
        a {
            color: #FFF;
        }
        i {
            padding-right: 10px;
        }
        .content {
            padding: 15px;
            background-color: #FFF;
        }
    }
}